<mat-toolbar color="primary">
  <ng-container *ngIf="!showSearch; else elseSearch">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
      <span>
        <button mat-icon-button
          type="button"
          (click)="sidenavToggle$.next(null)"
          >
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <span>
        ng-timesheet
      </span>
      <span fxFlex></span>
      <span>
        <button mat-icon-button 
          aria-label="Search"
          (click)="showSearch = true">
          <mat-icon>search</mat-icon>
        </button>
      </span>
      <span>
        <!-- <button mat-icon-button>
          <mat-icon>face</mat-icon>
        </button> -->
        <app-current-user-profile></app-current-user-profile>
      </span>
    </mat-toolbar-row>
  </ng-container>
  <ng-template #elseSearch>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
      <app-searchbar></app-searchbar>
    </mat-toolbar-row>
  </ng-template>
</mat-toolbar>