mat-sidenav.main {
  width: 250px;
}
mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-card.no-padding {
  padding: 0;
}

mat-card.last-card-margin {
  margin-bottom: 96px;
}
mat-card-actions.mat-card-actions.normal-margin {
  margin: 0px;
  padding: 0;
}
