.all-around-margin {
  margin: 16px;
  .sm {
    margin: 8px;
  }
  .md {
    margin: 16px;
  }
  .lg {
    margin: 32px;
  }
}
.top-bottom-padding {
  padding-top: 16px;
  padding-bottom: 16px;
  .sm {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .md {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .lg {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.top-bottom-margin {
  margin-top: 16px;
  margin-bottom: 16px;
  .sm {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .md {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .lg {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.no-padding {
  padding: 0;
}
.no-margin {
  padding: 0;
}
