<div fxLayout="row" 
  fxLayout="center center"
  fxFlexOffset.md="20"
  fxFlexOffset.lg="20"
  fxFlexOffset.xl="30"
  fxFlex>
  <form #form="ngForm" 
    (ngSubmit)="submit()"
    fxFlex.xs="100"
    fxFlex.sm="100" 
    fxFlex.md="80"
    fxFlex.lg="80"
    fxFlex.xl="60"
    >
    <!-- <pre>
      {{this.form.value | json}}
    </pre> -->
    <mat-card class="all-around-margin">
      <mat-card-title>
        <ng-container *ngIf="edit; else elseCreateTitle">
          Edit
        </ng-container>
        <ng-template #elseCreateTitle>
          Create
        </ng-template>
        Timesheet
      </mat-card-title>
      <mat-card-subtitle>
        <ng-container *ngIf="edit; else elseCreateSubtitle">
          Update this timesheet
        </ng-container>
        <ng-template #elseCreateSubtitle>
          Create a new timesheet below
        </ng-template>
      </mat-card-subtitle>
      <mat-card-content fxLayout="row" 
        fxLayoutWrap
        fxLayoutAlign="start center"
        fxLayoutGap="16px">
        <!-- put the user's information here-->
        <span fxFlex="100">

        </span>
        <span fxFlex="calc(50% - 16px)" class="mat-body-2">
          Current User: {{(user$ | async)?.displayName }}
        </span>
        <mat-form-field fxFlex="calc(50% - 16px)">
          <mat-icon matPrefix (click)="getTodaysDate()" class="clickable">view_week</mat-icon>
          <mat-placeholder>Date</mat-placeholder>
          <input matInput
            name="date"
            #date="ngModel"
            type="date"
            [ngModel]="timesheet.date"
            >
        </mat-form-field>
        <mat-form-field fxFlex="calc(25% - 16px)">
          <mat-icon matPrefix>access_time</mat-icon>
          <mat-placeholder>Start Time</mat-placeholder>
          <input matInput
            name="startTime"
            #startTime="ngModel"
            type="time"
            [ngModel]="timesheet.startTime"
            >
        </mat-form-field>
        <mat-form-field fxFlex="calc(25% - 16px)">
          <mat-icon matPrefix>timelapse</mat-icon>
          <mat-placeholder>End Time</mat-placeholder>
          <input matInput
            name="endTime"
            #endTime="ngModel"
            type="time"
            [ngModel]="timesheet.endTime"
            >
        </mat-form-field>
        <mat-form-field fxFlex="calc(25% - 16px)">
          <mat-icon matPrefix>timer_off</mat-icon>
          <mat-placeholder>Break Time</mat-placeholder>
          <input matInput
            name="breakTime"
            #breakTime="ngModel"
            type="number"
            [ngModel]="timesheet.breakTime"
            >
        </mat-form-field>
        <span fxFlex="calc(25%-16px)">
          Total Work time: 
        </span>
        <mat-form-field fxFlex="calc(33% - 16px)">
          <mat-icon matPrefix>assignment</mat-icon>
          <mat-placeholder>Work Type</mat-placeholder>
          <mat-select matInput
            name="workType"
            #workType="ngModel"
            [ngModel]="timesheet.workType"
            >
            <mat-option></mat-option>
            <mat-option value="one">
              One
            </mat-option>
            <mat-option value="two">
              Two
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- optional fields here-->
        <mat-form-field fxFlex="calc(33% - 16px)">
          <mat-icon matPrefix>group</mat-icon>
          <mat-placeholder>Team</mat-placeholder>
          <mat-select matInput
            name="team"
            #team="ngModel"
            [ngModel]="timesheet.team"
            >
            <mat-option></mat-option>
            <mat-option value="one">
              One
            </mat-option>
            <mat-option value="teo">
              Two
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="calc(33% - 16px)">
          <mat-icon matPrefix>label</mat-icon>
          <mat-placeholder>Project</mat-placeholder>
          <mat-select matInput
            name="project"
            #project="ngModel"
            [ngModel]="timesheet.project"
            >
            <mat-option></mat-option>
            <mat-option value="one">
              One
            </mat-option>
            <mat-option value="two">
              Two
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-icon matPrefix>description</mat-icon>
          <mat-placeholder>Description</mat-placeholder>
          <textarea matInput
            name="description"
            #description="ngModel"
            [ngModel]="timesheet.description"
            >
          </textarea>
        </mat-form-field>
        <div fxFlex="100">

        </div>
      </mat-card-content>
      <mat-card-actions align="end" class="fix-card-actions">
        <button (click)="cancel()" mat-button>
          Cancel
        </button>
        <!-- TODO: add support for the timesheet preview, this preview page shows the timesheet
          in the readonly mode
        --> 
        <!-- <button (click)="preview()" mat-button color="accent">
          Preview
        </button> -->
        <button type="submit" mat-button color="primary">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>