<div fxLayout="row"
     class="full-height scrolling"
     fxLayout="center center"
     fxLayoutOffset.md="20"
     fxFlexOffset.lg="20"
     fxFlexOffset.xl="30"
     fxFlex>
  <div fxFlex.xs="100"
       fxFlex.sm="100"
       fxFlex.md="80"
       fxFlex.lg="80"
       fxFlex.xl="60"
       style="margin-bottom: 64px">
    <div class="all-around-margin text-center bottom-margin">
      <div class="top-spacer"></div>
      <div class="mat-title">
        404
      </div>
      <div class="mat-subheading-1">
        Sorry no content found
      </div>
      <div class="mat-subheading-2">
        :(
      </div>
      <!-- actions -->
      <div>
        <button mat-button
                routerLink="/"
                color="primary">
          home-page
        </button>
      </div>
    </div>
  </div>
</div>
