<ng-container *ngIf="teams$ | async as teams">
  <div class="all-around-margin"
       fxLayout="row wrap">
    <app-team-list-item *ngFor="let team of teams"
                        class="all-around-margin"
                        fxFlex.xs="100"
                        fxFlex.sm="50"
                        fxFlex.md="50"
                        fxFlex.lg="25"
                        fxFlex.xl="25"
                        [team]="team">
    </app-team-list-item>
    <!-- </div> -->
  </div>
</ng-container>
