<mat-card fxFlex>
  <mat-card-title>
    {{team.name}}
  </mat-card-title>
  <mat-card-content>
    <div>
      {{team.description}}
    </div>
    <pre>
      {{team | json}}
    </pre>
  </mat-card-content>
  <mat-card-actions class="normal-margin"
                    fxLayout="row">
    <button aria-label="Info"
            fxHide.lt-sm
            mat-icon-button
            type="button"
            (click)="showInfo.emit(team)">
      <mat-icon>info</mat-icon>
    </button>
    <span fxFlex></span>
    <!-- <button aria-label="Join"
            mat-button
            type="button"
            (click)="join.emit(team)"
            *ngIf="showJoin()"
            color="primary">
      Join
    </button>
    <button aria-label="Leave"
            mat-button
            type="button"
            (click)="leave.emit(team)"
            *ngIf="showLeave()"
            color="warn">
      Leave
    </button> -->
    <button aria-label="Profile"
            fxHide.lt-sm
            mat-button
            type="button"
            (click)="profile.emit(team)"
            color="primary">
      Profile
    </button>
    <button aria-label="Projects"
            fxHide.lt-sm
            mat-button
            type="button"
            (click)="projects.emit(team)"
            *ngIf="showProjects()"
            color="primary">
      Projects
    </button>
    <!-- TODO: add support for more menu -->
    <button aria-label="More"
            mat-icon-button
            type="button"
            color="primary"
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <!-- show settings, metrics, users, other settings-->
      <mat-menu #menu="matMenu">
        <button type="button"
                mat-menu-item
                fxShow.lt-sm>Info</button>
        <button type="button"
                *ngIf="showJoin()"
                mat-menu-item
                (click)="join.emit(team)">Join</button>
        <button type="button"
                *ngIf="showLeave()"
                mat-menu-item
                (click)="leave.emit(team)">Leave</button>
        <button type="button"
                mat-menu-item
                (click)="profile.emit(team)"
                fxShow.lt-sm>Profile</button>
        <button type="button"
                mat-menu-item
                (click)="projects.emit(team)"
                fxShow.lt-sm>Projects</button>
      </mat-menu>
    </button>
  </mat-card-actions>
</mat-card>
