<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button mat-icon-button
              type="buttton"
              (click)="sidenavClose.next(null)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem"
                   [routerLink]="navService.root()"
                   (click)="sidenavClose.next(null)"
                   class="clickable">
      <a fxLayout="row"
         fxLayoutAlign="start center">
        <mat-icon matListIcon>
          home
        </mat-icon>
        <span matLine>
          Home
        </span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem"
                   [routerLink]="navService.newSheet()"
                   (click)="sidenavClose.next(null)"
                   class="clickable">
      <a fxLayout="row"
         fxLayoutAlign="start center">
        <mat-icon matListIcon>
          today
        </mat-icon>
        <span matLine>
          Create Sheet
        </span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem"
                   [routerLink]="navService.sheetList()"
                   (click)="sidenavClose.next(null)"
                   class="clickable">
      <a fxLayout="row"
         fxLayoutAlign="start center">
        <mat-icon matListIcon>
          view_agenda
        </mat-icon>
        <span matLine>
          Sheets
        </span>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"
                   [routerLink]="navService.teamList()"
                   (click)="sidenavClose.next(null)"
                   class="clickable">
      <a fxLayout="row"
         fxLayoutAlign="start center">
        <mat-icon matListIcon>
          group
        </mat-icon>
        <span matLine>
          Teams
        </span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem"
                   [routerLink]="navService.myTeams()"
                   (click)="sidenavClose.next(null)"
                   class="clickable">
      <a fxLayout="row"
         fxLayoutAlign="start center">
        <mat-icon matListIcon>
          group_outline
        </mat-icon>
        <span matLine>
          My Teams
        </span>
      </a>
    </mat-list-item>
  </mat-list>
</div>
